body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
form {
  width: 50%;
  height: auto;
  margin: 0 auto;
}
.input {
  margin: 20px;
  width: 350px;
  height: 30px;
  font: 16px "微软雅黑";
  border-radius: 5px;
}
button {
  width: 80px;
  height: 30px;
  float: left;
  margin-right: 200px;
  margin-left: 50px;
}